
/* reset */


body, div, ul, ol, li, input, button {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}


/* fonts styles */


@font-face {
  font-family: 'MontserratRegular';
  src:  url('../fonts/Montserrat/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratBold';
  src:  url('../fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoLight';
  src:  url('../fonts/Roboto/Roboto-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'RobotoLight', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'MontserratBold', Helvetica, Arial, sans-serif;
	line-height: 1em;
	margin: 0;
	color: #444;
}


/* global styles */

body {
	text-align: center;
	min-width: 320px;
}


/* for text */

h2 {
	font-size: 22px;
	margin-bottom: 36px;
}

.capit {
	text-transform: capitalize;
}

.upper {
	text-transform: uppercase;
}

.lower {
	text-transform: lowercase;
}

/* for buttons */

.btn_white,
.btn_red,
.btn_red_white {
	font-size: 14px;
	color: #fff;
	border-radius: 40px;
	cursor: pointer;
}

.btn_white {
	border: 2px solid #FFFFFF;
	padding: 7px 17px;
}

.btn_red {
	font-family: 'MontserratBold';
	background: #FF4E50;
	border: none;
	padding: 10px 20px;
}

.btn_red_white {
	padding: 10px 20px;
	font-family: 'MontserratBold';
	border: 2px solid #FF4E50;
	color: #FF4E50;
	background: transparent;
}

/* for blocks */

.container {
	max-width: 940px;
	margin: 0 auto;
}

.flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

/* Promo section */

.promo-background {
	background: url(../img/promo_bg.jpg) no-repeat;
	background-size: cover;
	background-position: center top;
	max-width: 1440px;
	margin: 0 auto;
	color: #fff;
	height: 100vh;
	margin-bottom: 50px;
}

.header {
	padding-top: 40px;
	margin-bottom: 160px;
}

.header a {
	color: #fff;
}

.header__logo {
	font-family: 'Montserrat';
	font-size: 20px;
	font-weight: bold;
}

.auth__item {
	display: inline-block;
	margin-right: 19px;
	vertical-align: center;
}

.promo_info {
	max-width: 70%;
	margin: 0 auto;
	font-size: 24px;
	line-height: 24px;
}

.promo__title {
	font-size: 52px;
	color: #fff;
	margin-bottom: 35px;
	line-height: 1.2em;
}

.promo__text {
	margin-bottom: 33px;
}

/* How its works section */

.works_cover {
	padding: 47px 0;
}

.work {
	width: 32%;
	height: 400px;
	border-radius: 5px;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	color: #fff;
	background-size: cover;
}

.work1 {
	background: url(../img/step1.png) no-repeat;
}

.work2 {
	background: url(../img/step2.png) no-repeat;
}

.work3 {
	background: url(../img/step3.png) no-repeat;
}

.work_content {
	text-align: left;
	max-width: 250px;
	margin-left: 25px;
	font-size: 14px;
	line-height: 14px;
}

.work_content button {
	font-family: 'Montserrat';
	font-size: 10px;
	letter-spacing: 2px;
	padding: 6px 14px;
	margin-bottom: 34px;
}

.work_content h3 {
	color: #fff;
	font-size: 24px;
	line-height: 14px;
}

/* Partners section */

.partners {
	margin-bottom: 36px;
}

.partners_cover {
	padding: 47px 0;
}

.partner {
	width: 23%;
	text-align: center;
}

.avatar {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-bottom: 17px;
}

.name {
	font-family: 'MontserratBold';
	font-size: 14px;
	margin-bottom: 20px;
	color: #444;
}

.about {
	font-size: 14px;
	line-height: 14px;
	color: #666;
	margin-bottom: 36px;
}

/* Ideas section */

.ideas_cover {
	padding: 47px 0;
}

.ideas {
	color: #fff;
	flex-wrap: wrap;
	max-width: 940px;
}

.idea1 {
	background: url(../img/idea1.png) no-repeat;
}

.idea2 {
	background: url(../img/idea2.png) no-repeat;
}

.idea3 {
	background: url(../img/idea3.png)  no-repeat;
}

.idea4 {
	background: url(../img/idea4.png) no-repeat;
}

.idea5 {
	background: url(../img/idea5.png) no-repeat;
}

.idea6 {
	background: url(../img/idea6.png) no-repeat;
}

.idea7 {
	background: url(../img/idea7.png) no-repeat;
}

.idea1,
.idea2,
.idea3,
.idea4,
.idea5,
.idea6,
.idea7 {
	border-radius: 4px;
}

.idea1,
.idea2,
.idea3,
.idea4,
.idea7 {
	height: 310px;
	max-width: 300px;
	flex-grow: 1;
	flex-basis: 31.5%;
	margin-bottom: 20px;
}

.idea5,
.idea6 {
	height: 310px;
	max-width: 620px;
	flex-grow: 2;
	flex-basis: 60%;
}

.container div:last-child {
	margin-bottom: 0;
}

.ideas .title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 22px;
	text-align: center;
	color: #FFFFFF;
	width: 100%;
	height: 310px;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Create / form section */

.create_cover {
	padding: 47px 0 99px 0;
}

.create .text {
	font-size: 18px;
	color: #666;
	margin-bottom: 30px;
}

.create form {
	margin: 0 auto;
	max-width: 482px;
	display: flex;
	justify-content: space-between;
}

.create input {
	display: block;
	width: 62%;
	border: 1px solid #D4D4D4;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
	border-radius: 3px;
	font-family: RobotoLight;
	font-size: 14px;
	color: #999;
	padding-left: 15px;
}

/* footer section */

.footer {
	padding: 40px 0;
	border-top: 2px solid #FF4E50;
	font-family: 'Montserrat';
}

.footer .logo {
	font-size: 16px;
	line-height: 20px;
	color: #FF4E50;
}

.footer .nav {
	text-align: left;
}


.footer h3 {
	font-size: 14px;
	margin-bottom: 20px;
	color: #444;
}

.partners_link a {
	color: #444;
}

.footer .nav a {
	font-family: 'RobotoLight';
	font-size: 14px;
	line-height: 26px;
	color: #999;
	text-transform: capitalize;
	margin-bottom: 15px;
}

.footer .design {
	font-size: 10px;
	color: #CCCCCC;
	font-family: 'MontserratBold';
	text-align: right;
}

.footer .design_logo {
	margin-top: 10px;
	max-width: 110px;
}



/* media queries for tablet*/


@media  only screen and (max-width: 1023px) {

	.container {
		width: 95%;
	}

	.header {
		padding-left: 50px;
		padding-right: 50px;
	}

	.promo_content {
		max-width: 70%;
	}

	.partners {
		max-width: 492px;
		margin: 0 auto;
	}

	.partner {
		width: 50%;
		max-width: 236px;
		margin-bottom: 36px;
	}

	.ideas {
		max-width: 748px;
		justify-content: space-between;
		margin: 0 auto;
	}


	.idea1,
	.idea2,
	.idea3,
	.idea4,
	.idea7 {
		max-width: 236px;
	}

	.idea5,
	.idea6 {
		max-width: 492px;
	}

	.footer {
		padding-left: 40px;
		padding-right: 36px;
	}

}


/* media queries for mobile */


@media  only screen and (max-width: 767px) {

	.flex {
		flex-flow: column;
	}

	h2 {
		margin-bottom: 20px;
	}

	.promo {
		padding-top: 20px;
		padding-bottom: 150px;
		margin-bottom: 0;
	}

	.header {
		padding: 0;
		flex-flow: column-reverse;
		justify-content: space-between;
		height: 155px;
		margin-bottom: 30px;
	}

	.promo h1 {
		font-size: 20px;
	}

	.promo_content {
		max-width: 88%;
	}

	.promo .text {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.promo .btn_red {
		width: 100%;
	}

	.works_cover {
		padding-top: 20px;
		padding-bottom: 0;
	}

	.work {
		margin: 0 auto;
		width: 100%;
		max-width: 300px;
		max-height: 240px;
		margin-bottom: 10px;
		background-size: cover;
	}

	.work1 {
		background: url(../img/step1_mobile.png) no-repeat;
	}

	.work2 {
		background: url(../img/step2_mobile.png) no-repeat;
	}

	.work3 {
		background: url(../img/step3_mobile.png) no-repeat;
	}

	.work_content {
		margin-left: 20px;
	}

	.work_content h3 {
		margin-bottom: 30px;
	}

	.work_content p {
		margin-top: 0;
	}

	.partners {
		width: 100%;
		margin-bottom: 37px;
	}

	.partners_cover {
		padding-bottom: 0;
	}

	li:last-child {
		margin-bottom: 0;
		color: red;
	}

	.partner {
		margin: 0 auto;
		width: 100%;
		margin-bottom: 17px;
	}

	.ideas_cover {
		padding-top: 35px;
		padding-bottom: 0;
	}

	.ideas {
		align-items: center;
	}

	.idea1 {
		background: url(../img/idea1_mobile.png) no-repeat;
	}

	.idea2 {
		background: url(../img/idea2_mobile.png) no-repeat;
	}

	.idea3 {
		background: url(../img/idea3_mobile.png)  no-repeat;
	}

	.idea4 {
		background: url(../img/idea4_mobile.png) no-repeat;
	}

	.idea5 {
		background: url(../img/idea5_mobile.png) no-repeat;
	}

	.idea6 {
		background: url(../img/idea6_mobile.png) no-repeat;
	}

	.idea7 {
		background: url(../img/idea7_mobile.png) no-repeat;
	}


	.ideas div {
		max-width: 300px;
		width: 100%;
		max-height: 120px;
	}

	.ideas .title {
		width: 100%;
	}

	.idea5,
	.idea6 {
		margin-bottom: 20px;
	}

	.create_cover {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.create h2 {
		max-width: 70%;
		margin: 0 auto;
		margin-bottom: 15px;
	}

	.create .text {
		margin-bottom: 15px;
	}

	.form {
		flex-flow: column;
		justify-content: center;
		max-width: 280px;
	}

	.form input,
	.form button {
		height: 40px;
		width: 100%;
	}

	.form input {
		margin-bottom: 10px;
	}

	.footer {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.footer .logo {
		margin-bottom: 15px;
	}

	.footer .nav {
		text-align: center;
	}

	.footer .nav {
		max-width: 200px;
		margin: 0 auto;
		margin-bottom: 15px;
	}

	.nav_links li {
		display: inline-block;
	}

	.partners_link {
		margin-bottom: 15px;
	}

	.footer .design {
		text-align: center; 
	}

	.design_logo {
		margin: 0 auto;
	}


}	